/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #700000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 0, 0);
}

.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 60px 1006px 0 4px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px 680px 0 0;
}

.u-section-1 .u-image-1 {
  width: 319px;
  height: 319px;
  background-image: url("images/perparim-logo.png");
  background-position: 50% 50%;
  animation-duration: 3000ms;
  margin: 71px auto 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 400;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 6px rgba(0,0,0,1);
  margin: 64px 516px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 810px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 480px;
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.95);
  }

  .u-section-1 .u-text-3 {
    margin-right: 316px;
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 590px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 260px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 410px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/8d7ae23569e81792882dbe503afc83b05be5d4a6a3115ba4f590bee301b3f2062b71e5aa79be6a1f8e95a19e6e1194f9f88646e281b754db011ad9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 950px;
}

.u-section-2 .u-list-1 {
  width: 340px;
  margin: 108px 449px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-duration: 2000ms;
  margin: 381px 570px 0 239px;
}

.u-section-2 .u-icon-1 {
  height: 36px;
  width: 36px;
  animation-duration: 1000ms;
  margin: 13px auto 0 517px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 13px 370px 0 517px;
}

.u-section-2 .u-icon-2 {
  height: 36px;
  width: 36px;
  animation-duration: 1000ms;
  margin: 13px auto 0 734px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 13px 207px 0 734px;
}

.u-section-2 .u-icon-3 {
  height: 36px;
  width: 36px;
  animation-duration: 1000ms;
  margin: 13px auto 0 897px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  animation-duration: 2000ms;
  margin: 13px 82px 0 897px;
}

.u-section-2 .u-icon-4 {
  height: 36px;
  width: 36px;
  animation-duration: 1000ms;
  margin: 13px 82px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 470px;
    margin-left: 258px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 261px;
    margin-left: 258px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 36px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 118px;
    margin-left: 258px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
    margin-top: 38px;
    margin-left: 258px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-right: 470px;
    margin-left: 258px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 19px;
    margin-right: 39px;
    margin-left: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-right: 380px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-right: 360px;
    margin-left: 198px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 198px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 141px;
    margin-left: 198px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 13px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 72px;
    margin-right: 8px;
    margin-left: 198px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 198px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 360px;
    margin-left: 198px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 0;
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-right: 200px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 4px;
    margin-right: 209px;
    margin-left: 149px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 91px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -32px;
    margin-right: 42px;
    margin-left: 149px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 108px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-right: 0;
    margin-left: 149px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -34px;
    margin-left: 149px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 108px;
    margin-right: 270px;
    margin-left: 149px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-2 .u-list-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 348px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
    margin-right: 71px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 9px;
    margin-right: 179px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin: 24px auto 43px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 514px;
}

.u-section-3 .u-group-1 {
  width: 803px;
  min-height: 382px;
  margin: 0 337px 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 90px 470px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  animation-duration: 2000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-right: 137px;
  }

  .u-section-3 .u-text-2 {
    font-family: Montserrat, sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 549px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 27px;
    margin-right: 47px;
  }
}.u-section-4 {
  min-height: 769px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 4px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 769px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 343px;
  height: 343px;
  background-image: url("images/imageonline-co-blackandwhiteimage.jpg");
  background-position: 57.81% 50%;
  animation-duration: 4000ms;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 300;
  letter-spacing: -1px;
  animation-duration: 1000ms;
  margin: 60px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 769px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 385px;
  background-image: linear-gradient(#d9d9d9, #f2f2f2);
  margin: 0 auto 0 0;
}

.u-section-4 .u-icon-1 {
  width: 48px;
  height: 48px;
  animation-duration: 1500ms;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 60px 77px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 657px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 739px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 534px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 310px;
    height: 310px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-4 .u-shape-1 {
    width: 222px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1227px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1041px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 40px;
    margin-bottom: -1px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 894px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 655px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1958px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 958px 0 0;
}

.u-section-5 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 30px;
  transform-origin: left center 0px;
  animation-duration: 3000ms;
  margin-left: 0;
}

.u-section-5 .u-gallery-1 {
  height: 1730px;
  width: 1120px;
  margin: 27px 0 55px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 25px 25px;
}

.u-section-5 .u-gallery-item-1 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-1 {
  transition-duration: 1s;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 52.69%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-2 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-3 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-4 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-5 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-6 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-7 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-8 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-8 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-9 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-9 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-10 {
  transition-duration: 1s;
  box-shadow: 4px 4px 10px 0 rgba(64,64,64,1);
}

.u-section-5 .u-back-slide-10 {
  transition-duration: 1s;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 758px;
  }

  .u-section-5 .u-line-1 {
    margin-left: initial;
  }

  .u-section-5 .u-gallery-1 {
    width: 940px;
    height: 1452px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1683px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 538px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 4449px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 358px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    height: 3337px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
    height: 2101px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 926px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 650px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 140px 60px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 20px -40px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 650px;
  margin-top: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 321px;
  background-image: url("images/pepoo2.jpg");
  background-position: 50% 0%;
  animation-duration: 2000ms;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 650px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 321px;
  background-image: url("images/ProjectplanBW.jpg");
  background-position: 22.77% 50%;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-6 .u-image-1 {
    height: 265px;
    width: 265px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 536px;
  }

  .u-section-6 .u-image-2 {
    height: 265px;
    width: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-6 .u-image-1 {
    height: 203px;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-6 .u-image-2 {
    height: 203px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2490px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-6 .u-image-1 {
    height: 522px;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 591px;
  }

  .u-section-6 .u-image-2 {
    height: 522px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-6 .u-image-1 {
    height: 329px;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-6 .u-image-2 {
    height: 329px;
    width: auto;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 737px;
}

.u-section-7 .u-shape-1 {
  width: 442px;
  left: auto;
  background-image: linear-gradient(black, #4d4d4d);
  right: 214px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 319px;
}

.u-section-7 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 319px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 68px 137px 0 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: -130px 138px 0 264px;
}

.u-section-7 .u-btn-1 {
  font-size: 1.875rem;
  animation-duration: 2000ms;
  padding: 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/universumQ.png");
  background-position: 85.13% 53.68%;
  min-height: 639px;
  background-size: auto 105%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-7 .u-shape-1 {
    width: 401px;
    right: 245px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 263px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 37px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 88px;
    margin-left: 214px;
  }

  .u-section-7 .u-image-1 {
    min-height: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-7 .u-shape-1 {
    width: 426px;
    height: 958px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 575px 132px 0 auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -1473px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-7 .u-image-1 {
    min-height: 807px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2499px;
  }

  .u-section-7 .u-shape-1 {
    width: 403px;
    height: 1521px;
    margin-top: 978px;
    margin-right: 60px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -2439px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 605px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 122px;
  }

  .u-section-7 .u-image-1 {
    min-height: 605px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1378px;
  }

  .u-section-7 .u-shape-1 {
    width: 246px;
    height: 600px;
    margin-top: 778px;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -1318px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 3px;
    padding-bottom: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 381px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 669px;
}

.u-section-8 .u-shape-1 {
  width: 239px;
  background-image: linear-gradient(#4d4d4d, #333333);
  height: 569px;
  margin: 0 214px 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -489px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 40px 85px 16px;
}

.u-section-8 .u-image-1 {
  width: 238px;
  height: 238px;
  background-image: url("images/yoummdayBW1.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 141px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 70px 0 0 24px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
  background-image: none;
  margin: 25px 144px 0 0;
}

.u-section-8 .u-image-2 {
  background-image: url("images/pipiqertifikatfinaly.png");
  background-position: 50% 50%;
  min-height: 507px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 395px;
  }

  .u-section-8 .u-layout-cell-1 {
    pointer-events: auto;
    min-height: 503px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-8 .u-image-2 {
    min-height: 418px;
    pointer-events: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    margin-left: 61px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    min-height: 320px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-8 .u-shape-1 {
    height: 1303px;
    margin-right: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 602px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-8 .u-image-2 {
    min-height: 480px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-8 .u-shape-1 {
    width: 246px;
    height: 740px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -479px;
    margin-bottom: 1px;
    min-height: 372px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-8 .u-image-2 {
    min-height: 302px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 949px;
}

.u-section-9 .u-shape-1 {
  width: 157px;
  height: 157px;
  animation-duration: 1000ms;
  margin: 348px -30px 0 auto;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1092px;
  margin: -341px auto 50px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 765px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.2;
  margin: 203px 6px 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 765px;
}

.u-section-9 .u-image-1 {
  background-image: url("images/pepo-4-ConvertImage.jpg");
  transition-duration: 2s;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 8px 30px 0;
}

.u-section-9 .u-shape-2 {
  width: 389px;
  height: 389px;
  animation-duration: 2000ms;
  margin: -60px auto 0 -158px;
}

.u-section-9 .u-text-2 {
  font-size: 2.25rem;
  margin: -280px 253px 0 -83px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 765px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  letter-spacing: 4px;
  animation-duration: 1000ms;
  margin: 0 92px 0 0;
}

.u-section-9 .u-text-4 {
  text-decoration: underline !important;
  font-style: italic;
  margin: 9px 265px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1rem;
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-9 .u-image-2 {
  height: 363px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/hlyjob.de.png");
  background-position: 50% 50%;
  margin-left: 0;
  animation-duration: 1000ms;
}

.u-section-9 .u-text-5 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 677px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 677px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -279px;
    margin-right: 223px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 659px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 28px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 38px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 212px;
  }

  .u-section-9 .u-image-2 {
    height: 330px;
    margin-left: initial;
    width: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 592px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 179px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-right: 135px;
  }

  .u-section-9 .u-image-2 {
    height: 253px;
    width: auto;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 112px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-9 .u-image-2 {
    height: 542px;
    width: auto;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-9 .u-shape-2 {
    width: 206px;
    height: 206px;
    margin-top: -50px;
    margin-left: -43px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -161px;
    margin-right: 186px;
    margin-left: -32px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 549px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    height: 341px;
    width: auto;
    margin-left: initial;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 895px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 152px 420px 0;
}

.u-section-10 .u-list-1 {
  margin-top: 114px;
  margin-bottom: 60px;
}

.u-section-10 .u-repeater-1 {
  min-height: 499px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0 14px;
}

.u-section-10 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 100;
  margin: 12px 30px 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 98px 40px 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  animation-duration: 1000ms;
  margin: 82px auto 0;
  padding: 9px 24px 9px 23px;
}

.u-section-10 .u-icon-1 {
  font-size: 1.2em;
  animation-duration: 2000ms;
  width: 22px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-10 .u-icon-2 {
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 0 14px;
}

.u-section-10 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 100;
  margin: 12px 30px 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 98px 40px 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  animation-duration: 1000ms;
  margin: 82px auto 0;
  padding: 9px 24px 9px 23px;
}

.u-section-10 .u-icon-3 {
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255);
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 320px;
    margin-right: 320px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 412px;
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    height: 50px;
  }

  .u-section-10 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-2 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-left: 120px;
    margin-right: 120px;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.125rem;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 846px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-11 .u-layout-cell-1 {
  background-image: linear-gradient(to right, white, rgba(255,0,0,0.05));
  min-height: 590px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 0 30px 6px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 116px 481px 0 475px;
}

.u-section-11 .u-social-icons-1 {
  min-height: 16px;
  width: 351px;
  min-width: 196px;
  white-space: nowrap;
  height: 42px;
  margin: 151px auto 0 389px;
}

.u-section-11 .u-icon-1 {
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
}

.u-section-11 .u-icon-3 {
  height: 100%;
}

.u-section-11 .u-icon-4 {
  height: 100%;
}

.u-section-11 .u-icon-5 {
  height: 100%;
}

.u-section-11 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 115px;
    margin-right: 382px;
    margin-left: 376px;
  }

  .u-section-11 .u-social-icons-1 {
    height: 51px;
    margin-top: 86px;
    margin-left: 298px;
  }

  .u-section-11 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-11 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 820px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-1 {
    width: 177px;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-social-icons-1 {
    margin-top: 214px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 0;
  }

  .u-section-11 .u-text-1 {
    margin-right: 144px;
    margin-left: 176px;
  }

  .u-section-11 .u-social-icons-1 {
    margin-top: 149px;
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 762px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-11 .u-text-1 {
    width: 180px;
    margin-top: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-social-icons-1 {
    height: 32px;
    width: 290px;
    margin-top: 162px;
    margin-left: auto;
  }
}